.pop_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0;
  text-align: center;
}
.pop_wrap:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.pop_inner {
  overflow: scroll;
}

.list_wrapper {
  list-style: none;
  overflow: auto;
}

.univ_list {
  margin: 10px 0;
  padding: 10px 0;
  background-color: rgba(194, 194, 250, 0.5);
  overflow: auto;

}

.univ_content {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.pop_wrap .pop_inner {
  display: inline-block;
  padding: 20px 30px;
  background: rgb(241, 245, 252);
  width: 450px;
  height: 400px;
  vertical-align: middle;
  font-size: 15px;
}

.btn_close {
  height: 40px;
  width: 100px;
  margin: 30px 0;
  border: none;
  background-color: rgb(107, 107, 107);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}