@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
#wrapper{
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    display: flex;
}

#inform{
    width: 22%;

}

#makeRoom{
    width: 88%;
    background-color: rgb(248, 249, 249);
    font-family: 'Jua', sans-serif;
}

#title{
    width: 100%;
    margin-left:10%;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

#title h2{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
}


#taxiImage{
    width: 5%;
    height: 10%;
    margin-right: 0.5%;
}

#my{
    border : 1px solid lightgray;
    height: 40%;
    width: 90%;
    background-color: rgb(248, 249, 249);
    text-align: center;
    font-family: 'Jua', sans-serif;
}

#profile{
    margin-top: 15%;
    margin-bottom: 10%;
    width: 40%;
}

#nick{
    margin-bottom: 5%;
}

#button1{
    margin-right: 2%;
}

#button1,#button2{
    border-radius: 6px;
}

#college{
    margin-bottom: 5%;
}

#list{
    justify-content: center;
    height: 50px;
    font-size: 20px;
}